.tag_area{
    display: flex;
}
.tag{
    display: flex;
    background-color: aqua;
    border-radius: 5px;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 5px;
}
.tag:hover{
    cursor: pointer;
}


.tag_icon{
    margin-left: 5px;
}


/*sm*/
@media (min-width: 576px){
    .tag_font{
       font-size: 12px;
    }
}
/*md*/
@media (min-width: 768px) {
    .tag_font{

    }
}
/*lg*/
@media (min-width: 992px){
    .tag_font{
        font-size: 13px;
    }
}
@media (max-width: 576px){
    .tag_font{
        font-size: 10px;
    }
}