
    .nav_area{
        background-color: var(--sub) !important;
        color: #FFFFFF !important;
    }
    .nav_logo{
        font-family: 'Nabla', cursive !important;
    }
    .nav_logo{
        cursor: pointer !important;
    }
    .nav_userform_icon{

        margin-left: 15px !important;
        margin-right: 10px !important;
    }

    .nav_text_korean{
        font-family: 'Noto Sans KR', sans-serif !important;
    }
    .cus-nav{
        color: #FFFFFF !important;
    }
    .cus-nav:hover{
        color: var(--main) !important;
    }
