.my_info_box{
    width: 500px;
}

.my_info_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my_info_item_title{
    width: 20%;
}
.my_info_footer{
    display: flex;
    justify-content: space-between;
}
.my_info_id_black{
    visibility: hidden;
}
@media (max-width: 500px) {
    .my_info_box{
        width: 100%;
    }
    .my_info_item_btn{
        font-size: 10px;
    }
}