.side-bar{
    width: 225px;
    background : #456BD8;
    height: 100vh;
    padding: 30px;
    font-family: 'Noto Sans KR','Ubuntu', sans-serif;
}
.admin-logo-area{
    padding: 10px;
}
.admin-logo-text{
    font-family: 'Ubuntu', cursive;
    color: #FFFFFF;
    font-size: 20px;
}
.admin-hr{
    color: #FFFFFF;
}
.admin-nav-item{
    color: #FFFFFF;
    font-size: 20px;
}

.dashboard{
    padding:25px;
}

.cus-divider{
    /*margin: 0 auto;*/
    margin: 50px auto;
}
.top-space{
    padding-top: 20px;
    font-family: 'Noto Sans KR','Ubuntu', sans-serif;
}
.w-90{
    width: 90%;
}
.insite-title{
    font-size: 28px;
}
th, td{
    text-align: center;

}
td{
    valign: center;
}
.admin_create_btn{
    background-color: #6193DB;
}
.admin_create_title{
    font-size: 32px;
    font-family: 'Noto Sans KR','Ubuntu', sans-serif;
}
.font{
    font-family: 'Noto Sans KR','Ubuntu', sans-serif;
}