.side-bar{
    width: 225px;
    background : #456BD8;
    height: 100vh;
    padding: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}
.admin-logo-area{
    padding: 10px;
}
.admin-logo-text{
    font-family: 'Nabla', cursive;
}
.admin-hr{
    color: #FFFFFF;
}
.admin-nav-item{
    color: #FFFFFF;
    font-size: 20px;
}